/* src/styles/font-family.css */
:root {
    /* Naver NanumSquare 폰트 변수 */
    --font-nanum-square: 'NanumSquare', Arial, Helvetica, sans-serif;
    /* Gmarket Sans 폰트 변수 */
    --font-gmarket: 'GmarketSans', Arial, Helvetica, sans-serif;
    /* --font-roboto 변수는 next/font에 의해 자동으로 주입됩니다. */
    --font-weight-default: 400; /* 기본 weight를 Regular(400)로 설정 */
}

/* NanumSquare Light (300) */
@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquare/WOFF/NanumSquareOTF_acL00.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* NanumSquare Regular (400) */
@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquare/WOFF/NanumSquareOTF_acR00.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* NanumSquare Bold (700) */
@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquare/WOFF/NanumSquareOTF_acB00.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* NanumSquare ExtraBold (800) */
@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquare/WOFF/NanumSquareOTF_acEB00.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* GmarketSans Light */
@font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSans/WOFF/GmarketSansLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* GmarketSans Medium */
@font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSans/WOFF/GmarketSansMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* GmarketSans Bold */
@font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSans/WOFF/GmarketSansBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}