@import "tailwindcss/preflight";
@import "tailwindcss";
@import "./font-family.css";
@import "./colors.css";
@import "./fonts.css";
@import "./core.css";
@import "./reset.css";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* 폰트 변수들은 fonts.css로 이동 */
}

/* @font-face 선언들은 fonts.css로 이동 */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;

    --font-weight-default: 400;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-nanum-square: 'NanumSquare', Arial, Helvetica, sans-serif;
    --font-gmarket: 'GmarketSans', Arial, Helvetica, sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-sans: var(--font-nanum-square), var(--font-gmarket), var(--font-roboto);
    --font-mono: var(--font-geist-mono);
  }
}


html {
  font-size: 16px; /* 기본 폰트 크기 */
}

/* 기본 폰트 적용 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Tailwind CSS의 font-sans를 따르도록 설정 */
  font-weight: var(--font-weight-default); /* NanumSquare의 기본 weight(400) 또는 원하는 값으로 설정 */
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem; /* 단락 간 간격 */
}

small {
  font-size: 0.8rem;
}

input:focus {
  outline: none;
}


/** 네이버 스퀘어 폰트 적용시 password타입에 글씨 안보이는 현상 수정 */
input[type=password] {
  font-family: 'Malgun Gothic', Dotum, Arial, Helvetica, sans-serif;
}

input[type=password]::placeholder {
  font-family: 'NanumSquare', sans-serif; /* NanumSquare 변수가 fonts-famliy.css에 있으므로 그대로 사용 가능 */
  color: #888;
}

/** 버튼 요소의 텍스트 마우스 드래그로 선택 불가하도록 */
button {
  user-select: none;
}


@media (max-width: 767px) { /* 모바일 */
  html {
    font-size: 15px;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}